<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="row">
    <div class="col-3">
      <%= form.label :commenter, class: "form-label" %>
      <%= form.text_field :commenter, class: "form-control" %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-2">
      <p>
        <%= form.label :status, class: "form-label" %><br>
        <%= form.select :status, Visible::VALID_STATUSES, {selected: 'public'}, {class: "form-select"} %>
      </p>
    </div>
  </div><br>
  <div class="row">
    <div class="col-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>